# jdbc driver
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
# jdbc database configure
spring.datasource.url=jdbc:mysql://127.0.0.1:3306/transitnet?characterEncoding=UTF-8&serverTimezone=GMT
# database username
spring.datasource.username=root
# database password
spring.datasource.password=123456

# route base uri path
transitnet.realtime.baseuri=api/
# should the data insert into database
transitnet.storage.enable=false
# should the index insert into lsm-tree by socket
transitnet.index.enable=false

# the scheduler when data inserted into the storage engine
scheduled.historicalIndex = 0/20 * * * * ?


